body, ul, li, ol, li, dl, dt, dd, form, h1, h2, h3, h4, p, hr, tabel, tr, td, select, option, br, span, img, a, label, form, input, textarea, em, i, strong, b {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body { background: #324157; font-size:14px; }
img { border: 0 none; vertical-align: top;}
a { text-decoration: none; outline: none;}
li { list-style: none; vertical-align:top;}
// input{ font-size: 0.14rem; border: 0; background: none; float: left; outline: none; }
::-webkit-input-placeholder { color: #999; }

.clear{ zoom: 1;}
.clear:after { content: "\20"; clear: both; display: block;}
.fl{ float:left;}
.fr{ float:right;}
.fx{ display:flex;}
.fi{
	display: inline-block;
}
.o-f{
  overflow: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
/* 元件 */
.u-submit_btn {
	width: 94.9%;
	height: 0.44rem;
	margin: 0 auto;
	line-height: 0.44rem;
	text-align: center;
	color: #fff;
	background: #fab483;
	&.activate {
		background: #fd7022;
	}
}

.u-message {
	position: fixed;
	height: 0.3rem;
	font-size: 0.13rem;
	line-height: 0.18rem;
	padding: 0.06rem 0.2rem;
	background: rgba(0,0,0,.8);
}

/* 状态 */
.z-show {
    display: block !important;
}

.z-hide {
    display: none !important;
}

/* 布局 */
.g-overflow-hidden {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

.g-border-b {
	border-bottom: 1px solid #efefef;
}

.g-c-center {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center; 
    justify-content: center;
}

.g-r-center {
    display: -webkit-box;  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;     /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex;         /* 新版本语法: Opera 12.1, Firefox 22+ */

    -webkit-box-flex:1;  /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex:1;     /* OLD - Firefox 19- */              
    -webkit-flex: 1;      /* Chrome */  
    -ms-flex: 1 ;          /* IE 10 */  
    flex: 1;              /* NEW, Spec - Opera 12.1, Firefox 20+ */
    box-flex:1;

    align-items:center;
    -webkit-align-items:center;
    box-align:center;
    -moz-box-align:center;
    -webkit-box-align:center;

    -webkit-justify-content:center;
    justify-content:center;
    -moz-box-pack:center;
    -webkit--moz-box-pack:center;
    box-pack:center;
}
/*页面公共css*/
.ibox{
    margin: 0;
    padding: 0;
		// height:48px;
		line-height:48px!important;
		font-size:14px!important;
		border-top: 3px #e7eaec solid;
		border-bottom: 1px #e7eaec solid;
}
.ibox-center{
	padding: 15px 20px 20px 20px;
}
/*一条线*/
.line-style{
	height:1px;
	background: #e7eaec;
	margin:10px 0;
}
.el-input__inner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: block;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.tabelBox{
  margin-top:25px;
}
